﻿@page
@model MVC.Areas.Administration.Pages.User.RegisteredUsersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registered Users";
}

<h4>@ViewData["Title"]</h4>

<p>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Html.DisplayNameFor(model => model.Filter.Name)
            <input type="text" name="NameFilter" value="@Model.NameFilter" />
            @Html.DisplayNameFor(model => model.Filter.Email)
            <input type="text" name="EmailFilter" value="@Model.EmailFilter" />

            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index"> Back to full List </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.RegisteredUsers[0].FullName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredUsers[0].Email)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.RegisteredUsers[0].DateOfBirth)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RegisteredUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.RegisteredUsers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.RegisteredUsers.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.RegisteredUsers.PageIndex - 1)"
   asp-route-emailFilter="@Model.EmailFilter"
   asp-route-nameFilter="@Model.NameFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-area="Administration"
   asp-page="User/RegisteredUsers"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.RegisteredUsers.PageIndex + 1)"
   asp-route-emailFilter="@Model.EmailFilter"
   asp-route-nameFilter="@Model.NameFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
